*{
    margin: 0;
    padding: 0;
}

#section-header {
    background-color: rgb(43, 0, 145);
}

#section-header div {
    display: flex;
    justify-content: space-between;
    align-items: center;  
    margin: 0px 20px;
    color: white;
    font-family:'Times New Roman', Times, serif;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    font-size: 20px;
}